@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}

.index {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  background-color: transparent;
  flex-direction: column;
  scroll-behavior: smooth;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
    // top: 1.5em;
    background-size: cover;
    height: 100vh;
    margin: 0;

    .hero-body {
      // position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      padding: 1rem;
      text-align: center;
      .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          color: black;
          margin-top: 2rem;
          font-family: "Poppins", sans-serif;
          letter-spacing: 2px;
          font-size: 8rem;
          font-weight: 800;
        }
        .subtitle {
          display: flex;
          align-items: center;
          font-family: "Poppins", sans-serif;
          font-size: 2.5em;
          font-weight: 600;
          position: relative;
          bottom: 4em;
          color: #444;
        }
      }

      .btns-container {
        position: relative;
        bottom: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .btn-large {
          padding: 1em 2.1em 1.1em;
          border-radius: 3px;
          margin: 8px 8px 8px 8px;
          color: #fbdedb;
          background-color: #fbdedb;
          display: inline-block;
          background: #e74c3c;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          font-family: sans-serif;
          font-weight: 800;
          font-size: 0.85em;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
          -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
          position: relative;
        }
        .btn-large:hover {
          opacity: 0.8;
        }
        .btn-large:active {
          opacity: 1;
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
        }
        .btn-large.block {
          display: block !important;
        }
        .btn-large.circular {
          border-radius: 50em !important;
        }
      }

      @media screen and (max-width: 800px) {
        .btn-large {
          padding: 0.5em 1.1em 0.5em;
          border-radius: 3px;
          margin: 2px;
          color: #fbdedb;
          background-color: #fbdedb;
          display: inline-block;
          background: #e74c3c;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          font-family: sans-serif;
          font-weight: 500;
          font-size: 0.45em;
          text-align: center;
        }
      }
    }
  }
}
